In [0]:
import talib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [0]:
spy_df = pd.read_csv('https://assets.datacamp.com/production/repositories/\
2168/datasets/0e72705a29abc4ad16fd29acd0304570ea27111e/SPY.csv',
parse_dates=['Date'],index_col='Date')

lng_df = pd.read_csv("https://assets.datacamp.com/production/repositories/2168/\
datasets/b1c089b35aa59a7290964640af811125f74fe3ec/LNG.csv",
parse_dates=['Date'],index_col='Date')

lng_df = lng_df['2016':]
spy_df = spy_df['2016':]

Create features from dates.

In [0]:
date_features = ['day', 'week', 'month', 'year']

In [0]:
for i in date_features:

  lng_df['feature_' + str(i)] = getattr(lng_df.reset_index()['Date'].dt,i).values

In [5]:
lng_df.head()

            Adj_Close  Adj_Volume  ...  feature_month  feature_year
Date                               ...
2016-01-04      37.51   2246475.0  ...              1          2016
2016-01-05      38.47   2903163.0  ...              1          2016
2016-01-06      37.06   2098817.0  ...              1          2016
2016-01-07      34.97   3473839.0  ...              1          2016
2016-01-08      35.01   1920189.0  ...              1          2016

[5 rows x 6 columns]

Create our target.

In [0]:
lng_df['5d_percent_return'] = lng_df['Adj_Close'].shift(-5).pct_change(5)

`DecisionTreeRegressor`

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

lng_df.dropna(inplace=True)

X = lng_df.drop(columns=['5d_percent_return'])
y = lng_df['5d_percent_return']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

# Create a decision tree regression model with default arguments
forest = RandomForestRegressor()

# Fit the model to the training features and targets
forest.fit(X_train.values, y_train.values)

# Check the score on train and test
print(forest.score(X_train, y_train))
print(forest.score(X_test, y_test))

0.9259494644276568
0.504455580490252